<div class="row">
  <div class="col-md-3">
    <%= render 'service_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Localização
      </div>

      <div class="panel-body">
        <div class="container">
        	<%= form_for @service do |f| %>
              	<div class="row">
	              	<div class="form-group">
	              		<label>Endereço</label>
	              		<%= f.text_field :address, placeholder: "Qual o endereço do seu serviço?", class: "form-control", required: true%>
	              	</div>
	            </div>
	            <div class="text-center">
	            	<%= f.submit "Salvar", class: "btn btn-form" %>
	            </div>
            <% end %>        
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  $(function() {
    $("#autoaddress").geocomplete();
  })
</script>
