<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou alterar a senha da sua conta. Você pode fazer isso clicando no link abaixo:</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou a alteração da senha, ignore este e-mail.</p>
<p>Sua senha não será alterada caso você não clique no link acima e altere para uma nova senha.</p>
